<%-include('../layout/adminHeader')-%>
    <div class="container-scroller">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="../../index.html"><img src="../../assets2/images/logo.svg" alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" href="../../index.html"><img src="../../assets2/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="../../assets2/images/faces/face15.jpg" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">Henry Klein</h5>
                  <span>Gold Member</span>
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
              <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-primary"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-onepassword  text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-calendar-today text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/dashboard">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/user">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">All User</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/all-products">
              <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
              </span>
              <span class="menu-title">All Products</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/addproduct">
              <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
              <span class="menu-title">Add a new Products</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/category">
              <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
              </span>
              <span class="menu-title">Category</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/editcategory">
              <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
              </span>
              <span class="menu-title">Edit Category</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link"  href="/admin/orders" >
              <span class="menu-icon">
                <i class="mdi mdi-security"></i>
              </span>
              <span class="menu-title">Orders</span>              
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link"  href="/admin/coupens" >
              <span class="menu-icon">
                <i class="mdi mdi-security"></i>
              </span>
              <span class="menu-title">Coupens</span>              
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link"  href="/admin/offer" >
              <span class="menu-icon">
                <i class="mdi mdi-security"></i>
              </span>
              <span class="menu-title">Offer</span>              
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/sales">
              <span class="menu-icon">
                <i class="mdi mdi-file-document-box"></i>
              </span>
              <span class="menu-title">Sales Report</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="../../assets/images/logo-mini.svg" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                  <input type="text" class="form-control" placeholder="Search user">
                </form>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">  
              <li>
                <a type="button" href="/admin/logout">Logout</a>
               </li>            
      
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
          
            
           
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#couponModal">
        Add New Coupon
    </button>

    <div class="modal" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="couponModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="couponModalLabel">Add Coupon</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Coupon Form -->
                    <form id="couponForm">
                        <div class="form-group">
                            <label for="couponTitle">Coupon Title:</label>
                            <input type="text" class="form-control" id="couponTitle" name="couponTitle"pattern="[A-Za-z0-9 ]+" required>
                            <div class="invalid-feedback">Please enter a coupon title.</div>
                        </div>

                        <div class="form-group">
                            <label for="couponCode">Coupon Code:</label>
                            <input type="text" class="form-control" id="couponCode" name="couponCode" required>
                            <div class="invalid-feedback">Please enter a coupon code.</div>
                        </div>

                        <div class="form-group">
                            <label for="validFrom">Valid From:</label>
                            <input type="date" class="form-control" id="validFrom" name="validFrom" required>
                            <div class="invalid-feedback">Please enter a valid from date.</div>
                        </div>

                        <div class="form-group">
                            <label for="validUntil">Valid Until:</label>
                            <input type="date" class="form-control" id="validUntil" name="validUntil" required>
                            <div class="invalid-feedback">Please enter a valid until date.</div>
                        </div>
                        <div class="form-group">
                          <label for="couponCode">Min Total price</label>
                          <input type="number" class="form-control" id="minTotalPrice" name="minTotalPrice" required>
                          <div class="invalid-feedback">Please enter a Min Total price.</div>
                      </div>
                        <div class="form-group">
                            <label for="discountPercentage">Discount Percentage:</label>
                            <input type="number" class="form-control" id="discountPercentage" name="discountPercentage" min="0" max="100" required>
                            <div  id="discount-validation"></div>
                        </div>

                        <button type="submit" class="btn btn-success" onclick="addCoupen()">Add Coupon</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
        <table class="table mt-4 table-striped">
            <thead >
                <tr>
                    <th scope="col">Coupon Title</th>
                    <th scope="col">Coupon Code</th>
                    <th scope="col">Valid From</th>
                    <th scope="col">Valid Until</th>
                    <th scope="col">Discount Percentage</th>
                    <!-- <th scope="col">Status</th> -->
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody id="couponTableBody">
                <!-- Dummy Data -->
                <% coupens.forEach((coupen)=>{ %>
                    <tr>
                        <td><%=coupen.coupenName %></td>
                        <td><%=coupen.coupenCode%></td>
                        <td><%=coupen.validFrom %></td>
                        <td><%=coupen.validUntill %></td>
                        <td><%=coupen.discount%> %</td>
                       
                        <!-- <td>Active</td> -->
                        <td>
                          <button type="button" class="btn btn-danger btn-sm" onclick="deleteCoupon('<%=coupen._id %>')">Delete</button>
                          <button type="button" class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#editCouponModal" onclick="loadEditCoupen('<%=coupen._id %>')">Edit Coupen</button>
                        </td>
                    </tr>
                <% }) %>
                
            </tbody>
        </table>
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
              <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                  <a class="page-link page-link-prev" href="?page=<%= currentPage - 1 %>" aria-label="Previous" tabindex="-1" aria-disabled="<%= currentPage === 1 %>">
                      <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                  </a>
              </li>
              <% for (let i = 1; i <= totalPages; i++) { %>
                  <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                      <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                  </li>
              <% } %>
              <li class="page-item">
                  <span class="page-link page-item-total">of <%= totalPages %></span>
              </li>
              <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                  <a class="page-link page-link-next" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                      Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                  </a>
              </li>
          </ul>
      </nav>
      
        <!-- modal for edit coupen -->

        <div class="modal" id="editCouponModal" tabindex="-1" role="dialog" aria-labelledby="couponModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="couponModalLabel">Add Coupon</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <!-- Coupon Form -->
                      <form id="couponForm">
                          <div class="form-group">
                              <label for="couponTitle">Coupon Title:</label>
                              <input type="text" class="form-control" id="couponTitle2" name="couponTitle"pattern="[A-Za-z0-9 ]+" required>
                              <div class="invalid-feedback">Please enter a coupon title.</div>
                          </div>
  
                          <div class="form-group">
                              <label for="couponCode">Coupon Code:</label>
                              <input type="text" class="form-control" id="couponCode2" name="couponCode" required>
                              <div class="invalid-feedback">Please enter a coupon code.</div>
                          </div>
  
                          <div class="form-group">
                              <label for="validFrom">Valid From:</label>
                              <input type="date" class="form-control" id="validFrom2" name="validFrom" required>
                              <div class="invalid-feedback">Please enter a valid from date.</div>
                          </div>
  
                          <div class="form-group">
                              <label for="validUntil">Valid Until:</label>
                              <input type="date" class="form-control" id="validUntil2" name="validUntil" required>
                              <div class="invalid-feedback">Please enter a valid until date.</div>
                          </div>
                          <div class="form-group">
                            <label for="couponCode">Min Total price</label>
                            <input type="number" class="form-control" id="minTotalPrice2" name="minTotalPrice" required>
                            <div class="invalid-feedback">Please enter a Min Total price.</div>
                        </div>
                          <div class="form-group">
                              <label for="discountPercentage">Discount Percentage:</label>
                              <input type="number" class="form-control" id="discountPercentage2" name="discountPercentage" min="0" max="100" required>
                              <div  id="discount-validation"></div>
                          </div>
                          <input type="hidden" id = coupenId>
  
                          <button type="submit" class="btn btn-success" onclick="editCoupen()">Apply Changes</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
    </div>
   

          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->

    <script>

       



       function addCoupen(){
                const couponTitle = document.getElementById("couponTitle").value.trim()
                const couponCode = document.getElementById("couponCode").value.trim()
                const validFrom = document.getElementById("validFrom").value.trim()
                const validUntil = document.getElementById("validUntil").value.trim()
                const discountPercentage = document.getElementById("discountPercentage").value.trim()
                const minTotalPrice = document.getElementById("minTotalPrice").value.trim()
                if(!couponTitle || !couponCode || !validFrom || !validUntil || !discountPercentage ||!minTotalPrice ){
                  return
                }

       if(discountPercentage <=100 ){
        data = {
                couponTitle : document.getElementById("couponTitle").value,
                couponCode : document.getElementById("couponCode").value,
                validFrom : document.getElementById("validFrom").value,
                validUntil : document.getElementById("validUntil").value,
                discountPercentage : document.getElementById("discountPercentage").value,
                minTotalPrice : document.getElementById("minTotalPrice").value
            }

            axios.post("/admin/add-new-coupen",data)
            .then(response =>{
                console.log(response.data);
                var form = document.getElementById('couponForm');
                Swal.fire({
                icon: 'success',
                title: 'Coupon Added!',
                text: 'The coupon has been added successfully.',
              })
              .then(()=>{
                form.reset()
              }).then(()=>{
                window.location.reload()
              })

              
             
            })
            .catch(error=>{
                console.error(error);
              })
            
          }else{
            document.getElementById("discount-validation").innerText = "Please enter a valid discount percentage."
          }
             
      }

// ============ delete coupen ==============



  function deleteCoupon(couponId) {
    Swal.fire({
      title: 'Are you sure?',
      text: 'You won\'t be able to revert this!',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes, delete it!',
      cancelButtonText: 'No, cancel!',
      reverseButtons: true
    }).then((result) => {
      if (result.isConfirmed) {
        // User confirmed, proceed with the delete request
        const data = {
          couponId: couponId
        };

        axios.post("/admin/delete-coupon", data)
          .then(response => {
            console.log(response.data);

            // Display SweetAlert success message
            Swal.fire({
              icon: 'success',
              title: 'Coupon Deleted!',
              text: 'The coupon has been deleted successfully.',
            }).then(() => {
              // Reload the entire page or perform any other actions as needed
              location.reload();
            });
          })
          .catch(error => {
            console.error(error);

            // Display SweetAlert error message
            Swal.fire({
              icon: 'error',
              title: 'Error',
              text: 'An error occurred while deleting the coupon. Please try again.',
            });
          });
      } else if (result.dismiss === Swal.DismissReason.cancel) {
        // User canceled, do nothing or display a message
        Swal.fire({
          title: 'Cancelled',
          text: 'The deletion process has been cancelled.',
          icon: 'info',
        });
      }
    });
  }


  //-----------------------------

  function loadEditCoupen (coupenId){
    
    data = {
      coupenId:coupenId
    }
    axios.post("/admin/load-edit-coupen",data)
    .then(response => {
            
            const coupen = response.data.coupenDetails
                document.getElementById("couponTitle2").value = coupen.coupenName
                document.getElementById("couponCode2").value = coupen.coupenCode
                document.getElementById("validFrom2").value = coupen.validFrom
                document.getElementById("validUntil2").value = coupen.validUntill
                document.getElementById("discountPercentage2").value = coupen.discount
                document.getElementById("minTotalPrice2").value = coupen.minPurchaseAmount
                document.getElementById("coupenId").value = coupen._id

                $('#editCouponModal').modal('show');
    })
    .catch(error => {
            console.error(error)
    })
  }



//------------- edit coupen---------------------

function editCoupen(){
    const coupenId = document.getElementById('coupenId').value
    const title = document.getElementById("couponTitle2").value 
    const coupenCode = document.getElementById("couponCode2").value 
    const validFrom = document.getElementById("validFrom2").value 
    const validUntill =document.getElementById("validUntil2").value 
    const discount =document.getElementById("discountPercentage2").value 
    const minPrice = document.getElementById("minTotalPrice2").value 

    const data = {coupenId,title,coupenCode,validFrom,validUntill,discount,minPrice}

    axios.post("/admin/edit-coupen",data)
     
    .then(response => {
            console.log(response.data);
            
    })
    .catch(error => {
            console.error(error)
    })

}


    </script>


   
<%-include('../layout/adminHeader')-%>
  
  </body>
</html>