<%-include('../layout/adminHeader')-%>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper">
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="../../assets/images/logo-mini.svg" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">  
              <li>
                <a type="button" href="/admin/logout">Logout</a>
               </li>            
      
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
    
            <form method="post" action="/admin/updatecategory?id=<%=find._id %>">
              <h1 class="category-text">Update Category</h1>
              <div class="mb-3">
              <label for="main-category" class="category-text">Main Category</label>
              <select class="form-select" name="maincategory" style="width: 250px;" aria-label="Default select example">
                <% const selectedCategory = find?.name %>
                <option value="<%= selectedCategory %>" selected><%= selectedCategory %></option>
                <option value="Men" <% if (selectedCategory == "Men") { %>hidden<% } %>>Men</option>
                <option value="Women" <% if (selectedCategory == "Women") { %>hidden<% } %>>Women</option>
                <option value="Kids" <% if (selectedCategory == "Kids") { %>hidden<% } %>>Kids</option>
              </select>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Subcategory</label>
                <input type="text" class="form-control" name="subcategory" value="<%= find.subcategory %>" required pattern="^\S.*$"  >
              </div> 
              <div class="mb-3"> 
                <label for="exampleFormControlTextarea1" class="form-label">Category description</label>
                <input class="form-control" required pattern="^\S.*$"  name="description" value="<%= find.description %>" id="exampleFormControlTextarea1" rows="3">
              </div> 
              <div class="mb-3">
                <button class="btn btn-primary" type="submit">Update Category</button>
              </div>
            </form>
            <% if(locals.exist) { %>
              <h3 style="color: red;"><%=exist %></h3>
            <% } %>
           
          </div> 

        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->


    <%-include('../layout/adminHeader')-%>
