<!DOCTYPE html>
<html lang="en">


<!-- molla/checkout.html  22 Nov 2019 09:55:06 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">


</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <div class="header-dropdown">
                            <a href="#">Usd</a>
                            <div class="header-menu">
                                <ul>
                                    <li><a href="#">Eur</a></li>
                                    <li><a href="#">Usd</a></li>
                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropdown -->

                        <div class="header-dropdown">
                            <a href="#">Eng</a>
                            <div class="header-menu">
                                <ul>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropdown -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <!-- <li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li> -->
                                    <li><a href="/my-wish-list"><i class="icon-heart-o"></i>Wishlist </a></li>
                                    <!-- <li><a href="about.html">About Us</a></li> -->
                                    <li><a href="/account">My account</a></li>
                                    <li><a href="/logout"><i class="icon-user"></i>Logout</a></li>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo">
                            <img src="assets/images/logo.png" alt="Molla Logo" width="105" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                
                                <li>
                                    <a href="/" class="">HOME</a>       
                                </li>
                                <li>
                                    <a href="men" class="">MEN</a>                                  
                                </li>
                                <li>
                                    <a href="women" class="">WOMEN</a>                                   
                                </li>
                                <li>
                                    <a href="kids" class="">KIDS</a>                                    
                                </li>
                                <li>
                                    <a href="/products" class="">ALL PRODUCTS</a>   
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                        <div class="dropdown cart-dropdown">
                            <a href="/cart" class="dropdown-toggle" role="button"  aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <!-- <span class="cart-count">2</span> -->
                            </a>
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Checkout<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
            			<div class="cart-discount">
                            <form >
                                <div class="input-group">
                                    <input type="text" class="form-control" id="coupenCodeField"  required placeholder="coupon code">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-primary-2" type="submit"  onclick="applyCoupen(event)"><i class="icon-long-arrow-right"></i></button>
                                    </div><!-- .End .input-group-append -->
                                </div><!-- End .input-group -->
                            </form>
                        </div><!-- End .cart-discount -->
                        <p style="color: red;" id="coupenWarning"></p>
                        <div class="container-fluid" style="margin-left: -29px;">
                          <style>
                            .copy-icon {
                            cursor: pointer;
                            /* Add more styles as needed */
                            }
                          </style>

                            <div class="row">
                              <div class="col-md-6">
                                <div class="card card-dashboard">
                                    <div class="card-body">
                                        <h6>Available Coupons</h6>
                                        <% coupens?.forEach((coupen)=>{ %>
                                            <div class="coupon">
                                                <p><%= coupen?.coupenCode %>
                                                    <i class="fas fa-copy copy-icon" onclick="copyToClipboard('<%= coupen?.coupenCode %>')"></i>

                                                </p>
                                            </div>
                                        <% }) %>
                                    </div>
                                    
                                    
                                </div>
                              </div>
                            </div>
                          </div>
                          
            			<form action="#">
		                	<div class="row">
		                		<div class="col-lg-9">
                                   
                                    <div class="card card-dashboard">
                                        <div class="card-body">
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                                ADD NEW ADDRESS
                                              </button>
                                        </div>
                                      </div>

                                      <!-- modal for add address -->

                                      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                          <div class="modal-content" style="padding: 20px;">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLongTitle">Add Address</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <div class="form-group">
                                                      <label for="name">Name:</label>
                                                      <input type="text" class="form-control" required pattern="^(?!\s*$).+" id="name" placeholder="Enter your name">
                                                    </div>
                                                    <div class="form-group">
                                                      <label for="phone">Phone Number:</label>
                                                      <input type="tel" class="form-control" required  pattern="[0-9]{10}" id="phone" placeholder="Enter your phone number">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="city">Building Name/House Name</label>
                                                        <input type="text" class="form-control" required pattern="^(?!\s*$).+" id="building" placeholder="Enter your Building Name/House Name">
                                                    </div>

                                                    <div class="form-group">
                                                      <label for="city">City:</label>
                                                      <input type="text" class="form-control" required pattern="^(?!\s*$).+" id="city" placeholder="Enter your city">
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                      <label for="district">District:</label>
                                                      <input type="text" class="form-control" required pattern="^(?!\s*$).+" id="district" placeholder="Enter your district">
                                                    </div>

                                                    <div class="form-group">
                                                      <label for="state">State:</label>
                                                      <input type="text" class="form-control" required pattern="^(?!\s*$).+" id="state" placeholder="Enter your state">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="pincode">Pincode:</label>
                                                        <input type="text" class="form-control" required  id="pincode" placeholder="Enter your pincode">
                                                      </div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary" onclick="submitAddressForm()">Save Adress</button>
                                                    </div>
                                                </form>
                                            </div>
                                          </div>
                                        </div>
                                      </div>



                                    <div class="card-group">
                                        <% find?.address?.forEach((address) => { %>
                                            <div class="col-lg-6">
                                                <div class="card" style="background-color: #f9f9f9; padding: 35px; height: 220px; " >
                                         
                                                    <div class="card-body">
                                                        <label class="radio-label">
                                                            <input type="radio" name="addressRadio" value="<%= address._id %>"  style="position: absolute; top: 10px; right: 10px;" onchange="handleRadioChange(this)"/>
                                                            <%= address?.name %><br>
                                                            <%= address?.phone %><br>
                                                            <%= address?.building %><br>
                                                            <%= address?.city %>, <%= address?.district %>, <%= address?.state %><br>
                                                            <%= address?.pincode %><br>
                                                        </label>
                                                        <div>
                                                           
                                                            <a href="" style="display:none;" data-toggle="modal" data-address-id="<%= address._id %>" class="edit-address edit-link" data-target="#modal2">
                                                                Edit <i class="icon-edit"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                  </div>
                                            </div>
                                           
                                        <% }) %>
                                        
                                    </div>
                                   
		                		</div>

                                <!-- modal for edit address -->

                                <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                      <div class="modal-content" style="padding: 20px;">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLongTitle">Add Address</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                  <label for="name">Name:</label>
                                                  <input type="text" class="form-control" required pattern="^(?!\s*$).+" id="name2" >
                                                </div>
                                                <div class="form-group">
                                                  <label for="phone">Phone Number:</label>
                                                  <input type="tel" class="form-control" required  pattern="[0-9]{10}" id="phone2" >
                                                </div>
                                                <div class="form-group">
                                                <input type="hidden" class="form-control"  id="addressId" >
                                            </div>
                                                <div class="form-group">
                                                    <label for="city">Building Name/House Name</label>
                                                    <input type="text" class="form-control" required pattern="^(?!\s*$).+" id="building2" >
                                                </div>

                                                <div class="form-group">
                                                  <label for="city">City:</label>
                                                  <input type="text" class="form-control" required pattern="^(?!\s*$).+" id="city2" >
                                                </div>
                                                
                                                <div class="form-group">
                                                  <label for="district">District:</label>
                                                  <input type="text" class="form-control" required pattern="^(?!\s*$).+" id="district2" >
                                                </div>

                                                <div class="form-group">
                                                  <label for="state">State:</label>
                                                  <input type="text" class="form-control" required pattern="^(?!\s*$).+" id="state2" >
                                                </div>

                                                <div class="form-group">
                                                    <label for="pincode">Pincode:</label>
                                                    <input type="text" class="form-control" required  id="pincode2" >
                                                  </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary"  onclick="updateAddress()" >Save Changes</button>
                                                </div>
                                            </form>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

		                		<aside class="col-lg-3">
		                			<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

		                				<table class="table table-summary">
		                					<thead>
		                						<tr>
		                							<th>Product</th>
		                							<th>Total</th>
		                						</tr>
		                					</thead>

		                					<tbody >
                                                <% cartData?.product?.forEach((data)=>{  %>
                                                    <tr>
                                                        <td><%=data?.productId?.name %></td>
                                                        <td>₹ <%=data?.total %></td>
                                                    </tr>
                                                <% }) %>
		                						<tr class="summary-subtotal">
		                							<td>Subtotal:</td>

		                							<td id="discountPrice">₹ <%=cartData?.subTotal %></td>
		                						</tr><!-- End .summary-subtotal -->
                                            
		                						<tr>
		                							<td>Shipping:</td>
		                							<td>Free shipping</td>
		                						</tr>
                                              
		                						<tr class="summary-total">
		                							<td>Total:</td>
		                							<td id="discountPrice2">₹ <%=cartData?.subTotal %></td>
		                						</tr><!-- End .summary-total -->
		                					</tbody>
		                				</table><!-- End .table table-summary -->

		                				
										    <!-- <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                <label class="form-check-label" for="flexRadioDefault1"> Cash On Delivery</label>
                                              </div> -->
                                              <% if(cartData?.subTotal > 1000) {%>
                                              <div class="form-check">
                                                <input class="form-check-input" value="COD" type="radio" name="paymentMethod" id="flexRadioDefault1">
                                                <label class="form-check-label" for="flexRadioDefault1">cash on Delivery</label>
                                              </div>
                                              <% } %>
                                              
                                              <div class="form-check">
                                                <input class="form-check-input" value="online" type="radio" name="paymentMethod" id="flexRadioDefault2">
                                                <label class="form-check-label" for="flexRadioDefault2"> Online  </label>
                                              </div>
                                              <% if(wallet?.balance >= cartData?.subTotal){ %>
                                                <div class="form-check">
                                                    <input class="form-check-input" value="wallet" type="radio" name="paymentMethod" id="flexRadioDefault3">
                                                    <label class="form-check-label" for="flexRadioDefault3"> Wallet </label>
                                                  </div>
                                             <% } %>
                                              
                                              
                                                <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block"  onclick= "placeOrder('<%= cartData?._id%>')"> Place Order </button>
                                              
                                    
		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
            			</form>
                       
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget widget-about">
	            				<img src="assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
	            				<p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

	            				<div class="social-icons">
	            					<a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
	            				</div><!-- End .soial-icons -->
	            			</div><!-- End .widget about-widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="about.html">About Molla</a></li>
	            					<li><a href="#">How to shop on Molla</a></li>
	            					<li><a href="#">FAQ</a></li>
	            					<li><a href="contact.html">Contact us</a></li>
	            					<li><a href="login.html">Log in</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Payment Methods</a></li>
	            					<li><a href="#">Money-back guarantee!</a></li>
	            					<li><a href="#">Returns</a></li>
	            					<li><a href="#">Shipping</a></li>
	            					<li><a href="#">Terms and conditions</a></li>
	            					<li><a href="#">Privacy Policy</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">My Account</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Sign In</a></li>
	            					<li><a href="cart.html">View Cart</a></li>
	            					<li><a href="#">My Wishlist</a></li>
	            					<li><a href="#">Track My Order</a></li>
	            					<li><a href="#">Help</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->
	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
	        		<figure class="footer-payments">
	        			<img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
	        		</figure><!-- End .footer-payments -->
	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="index.html">Home</a>

                        <!-- <ul>
                            <li><a href="index-1.html">01 - furniture store</a></li>
                            <li><a href="index-2.html">02 - furniture store</a></li>
                            <li><a href="index-3.html">03 - electronic store</a></li>
                            <li><a href="index-4.html">04 - electronic store</a></li>
                            <li><a href="index-5.html">05 - fashion store</a></li>
                            <li><a href="index-6.html">06 - fashion store</a></li>
                            <li><a href="index-7.html">07 - fashion store</a></li>
                            <li><a href="index-8.html">08 - fashion store</a></li>
                            <li><a href="index-9.html">09 - fashion store</a></li>
                            <li><a href="index-10.html">10 - shoes store</a></li>
                            <li><a href="index-11.html">11 - furniture simple store</a></li>
                            <li><a href="index-12.html">12 - fashion simple store</a></li>
                            <li><a href="index-13.html">13 - market</a></li>
                            <li><a href="index-14.html">14 - market fullwidth</a></li>
                            <li><a href="index-15.html">15 - lookbook 1</a></li>
                            <li><a href="index-16.html">16 - lookbook 2</a></li>
                            <li><a href="index-17.html">17 - fashion store</a></li>
                            <li><a href="index-18.html">18 - fashion store (with sidebar)</a></li>
                            <li><a href="index-19.html">19 - games store</a></li>
                            <li><a href="index-20.html">20 - book store</a></li>
                            <li><a href="index-21.html">21 - sport store</a></li>
                            <li><a href="index-22.html">22 - tools store</a></li>
                            <li><a href="index-23.html">23 - fashion left navigation store</a></li>
                            <li><a href="index-24.html">24 - extreme sport store</a></li>
                        </ul> -->
                    </li>
                    <li>
                        <a href="category.html">Shop</a>
                        <ul>
                            <!-- <li><a href="category-list.html">Shop List</a></li>
                            <li><a href="category-2cols.html">Shop Grid 2 Columns</a></li>
                            <li><a href="category.html">Shop Grid 3 Columns</a></li>
                            <li><a href="category-4cols.html">Shop Grid 4 Columns</a></li>
                            <li><a href="category-boxed.html"><span>Shop Boxed No Sidebar<span class="tip tip-hot">Hot</span></span></a></li>
                            <li><a href="category-fullwidth.html">Shop Fullwidth No Sidebar</a></li>
                            <li><a href="product-category-boxed.html">Product Category Boxed</a></li>
                            <li><a href="product-category-fullwidth.html"><span>Product Category Fullwidth<span class="tip tip-new">New</span></span></a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                            <li><a href="#">Lookbook</a></li> -->
                        </ul>
                    </li>
                    <li>
                        <a href="product.html" class="sf-with-ul">Product</a>
                        <ul>
                            <li><a href="product.html">Default</a></li>
                            <li><a href="product-centered.html">Centered</a></li>
                            <li><a href="product-extended.html"><span>Extended Info<span class="tip tip-new">New</span></span></a></li>
                            <li><a href="product-gallery.html">Gallery</a></li>
                            <li><a href="product-sticky.html">Sticky Info</a></li>
                            <li><a href="product-sidebar.html">Boxed With Sidebar</a></li>
                            <li><a href="product-fullwidth.html">Full Width</a></li>
                            <li><a href="product-masonry.html">Masonry Sticky Info</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                        <ul>
                            <li>
                                <a href="about.html">About</a>

                                <ul>
                                    <li><a href="about.html">About 01</a></li>
                                    <li><a href="about-2.html">About 02</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact.html">Contact</a>

                                <ul>
                                    <li><a href="contact.html">Contact 01</a></li>
                                    <li><a href="contact-2.html">Contact 02</a></li>
                                </ul>
                            </li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="faq.html">FAQs</a></li>
                            <li><a href="404.html">Error 404</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>

                        <ul>
                            <li><a href="blog.html">Classic</a></li>
                            <li><a href="blog-listing.html">Listing</a></li>
                            <li>
                                <a href="#">Grid</a>
                                <ul>
                                    <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                                    <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                                    <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                                    <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Masonry</a>
                                <ul>
                                    <li><a href="blog-masonry-2cols.html">Masonry 2 columns</a></li>
                                    <li><a href="blog-masonry-3cols.html">Masonry 3 columns</a></li>
                                    <li><a href="blog-masonry-4cols.html">Masonry 4 columns</a></li>
                                    <li><a href="blog-masonry-sidebar.html">Masonry sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Mask</a>
                                <ul>
                                    <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                                    <li><a href="blog-mask-masonry.html">Blog mask masonry</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Single Post</a>
                                <ul>
                                    <li><a href="single.html">Default with sidebar</a></li>
                                    <li><a href="single-fullwidth.html">Fullwidth no sidebar</a></li>
                                    <li><a href="single-fullwidth-sidebar.html">Fullwidth with sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="elements-list.html">Elements</a>
                        <ul>
                            <li><a href="elements-products.html">Products</a></li>
                            <li><a href="elements-typography.html">Typography</a></li>
                            <li><a href="elements-titles.html">Titles</a></li>
                            <li><a href="elements-banners.html">Banners</a></li>
                            <li><a href="elements-product-category.html">Product Category</a></li>
                            <li><a href="elements-video-banners.html">Video Banners</a></li>
                            <li><a href="elements-buttons.html">Buttons</a></li>
                            <li><a href="elements-accordions.html">Accordions</a></li>
                            <li><a href="elements-tabs.html">Tabs</a></li>
                            <li><a href="elements-testimonials.html">Testimonials</a></li>
                            <li><a href="elements-blog-posts.html">Blog Posts</a></li>
                            <li><a href="elements-portfolio.html">Portfolio</a></li>
                            <li><a href="elements-cta.html">Call to Action</a></li>
                            <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email" name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->
<script>


    function placeOrder(cartId) {
        var selectedRadioButton = document.querySelector('input[name="addressRadio"]:checked');
        var selectedPaymentMethod = document.querySelector('input[name="paymentMethod"]:checked');
        var subTotalElement = document.getElementById("discountPrice2")
        var subTotalValue = parseFloat(subTotalElement.textContent.replace(/[^\d.-]/g, ''));
        const coupencode = document.getElementById("coupenCodeField").value
        

        if (selectedRadioButton && selectedPaymentMethod ) {
            var selectedAddressId = selectedRadioButton.value;
            var selectedPaymentMethod = selectedPaymentMethod.value;

            const data = {
                selectedAddress: selectedAddressId,
                cartId: cartId,
                selectedPaymentMethod:selectedPaymentMethod,
                total:subTotalValue,
                coupencode:coupencode
            };

            axios.post("/order", data)
                .then(response => {
                    console.log(response.data);


                    if (response.data.codSuccess) {
                        Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: 'Order placed successfully!'
                        }).then(()=>{
                            window.location.href = "/order";
                        })

                       
                    } else if(response.data.razorpayInstance){
                        razorpayPayment(response.data)
                    }
                    else {
                        Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Failed to place the order. Please try again.'
                    });
                    }
                })
                .catch(error => {
                    console.error('Error placing order:', error);
                    alert("An error occurred while placing the order. Please try again later.");
                });
        } else {
    if (!selectedRadioButton && !selectedPaymentMethod) {
        Swal.fire({
            icon: 'warning',
            title: 'Oops...',
            text: 'Please select an address and payment method before placing the order.'
        });
    } else if (selectedPaymentMethod && !selectedRadioButton) {
        Swal.fire({
            icon: 'warning',
            title: 'Oops...',
            text: 'Please select an address before placing the order.'
        });
    } else if (!selectedPaymentMethod && selectedRadioButton) {
        Swal.fire({
            icon: 'warning',
            title: 'Oops...',
            text: 'Please select a payment method before placing the order.'
        });
    }
}

    } 


    function razorpayPayment(order){
    
        var options = {
        "key": "rzp_test_EXuX7ue9wXyfnc", // Enter the Key ID generated from the Dashboard
        "amount": order.razorpayInstance.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "StepUp", //your business name
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": order.razorpayInstance.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
       
        "handler": function (response){
          verifyPayment(response,order)
    },
        "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
            "name": "Gaurav Kumar", //your customer's name
            "email": "gaurav.kumar@example.com",
            "contact": "9000090000" //Provide the customer's phone number for better conversion rates 
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#3399cc"
        }
};

 var rzp1 = new Razorpay(options);

 rzp1.on('payment.failed', function (response) {


   faildPayment(response,order)
})
    rzp1.open();
    
}

//------------------------

function verifyPayment(payment,order){
    data = {
        payment,
        order
    }
    axios.post("/verify-payment",data)
    .then(response =>{
        console.log(response.data);
        if(response.data.onlinePaymentsuccess){
            window.location.href = "/order";
        }else{
            alert("somethis went wrong")
        }
       
    })
    .then(error=>{
        console.error(error);
    })
}
//----------------------------------------------------

function faildPayment(payment,order){
    const data = {
        payment,
        order,
    }

    axios.post("/failed-payment",data)
    .then(response =>{
        console.log(response.data);
        window.location.href = "/paymen-failed";
    })
    .then(error=>{
        console.error(error);
    })

}



//----------------------------------------------------------------

function handleRadioChange(radio) {

        var allEditLinks = document.querySelectorAll('.edit-link');
        allEditLinks.forEach(function (editLink) {
            editLink.style.display = 'none';
        });

        var editLink = radio.closest('.card-body').querySelector('.edit-link');
        editLink.style.display = radio.checked ? 'inline' : 'none';
    } 

    document.querySelectorAll('.edit-address').forEach(function (editLink) {
        editLink.addEventListener('click', function (event) {
            event.preventDefault();
       
            var addressId = editLink.getAttribute('data-address-id');

            axios.get('/edit-address/'+addressId)
                .then(function (response) {
                    var addressData = response.data;

                    document.getElementById('name2').value = addressData.name;
                    document.getElementById('phone2').value = addressData.phone;
                    document.getElementById('building2').value = addressData.building;
                    document.getElementById('city2').value = addressData.city;
                    document.getElementById('district2').value = addressData.district;
                    document.getElementById('state2').value = addressData.state;
                    document.getElementById('pincode2').value = addressData.pincode;
                    document.getElementById("addressId" ).value = addressData._id;
                  
                    // Show the modal 
                    $('#modal2').modal('show');
                })
                .catch(function (error) {
                    console.error('Error fetching address data:', error);
                });
        });
    });


    function updateAddress(){
        const editedData = {
            name:document.getElementById('name2').value,
            phone: document.getElementById('phone2').value,
            building: document.getElementById('building2').value,
            city: document.getElementById('city2').value,
            district: document.getElementById('district2').value,
            state: document.getElementById('state2').value,
            pincode: document.getElementById('pincode2').value,
            addressId: document.getElementById("addressId" ).value 
        }
        axios.post("/edit-address",editedData)
        .then(response =>{
            console.log(response.data.message);
            
            window.location.reload()
        })
        .catch(error => {
                console.error('Error saving address:', error.response.data.error);
            });
    }


    function submitAddressForm() {
        
    const name = document.getElementById('name').value.trim();
    const phone = document.getElementById('phone').value.trim();
    const building = document.getElementById('building').value.trim();
    const city = document.getElementById('city').value.trim();
    const district = document.getElementById('district').value.trim();
    const state = document.getElementById('state').value.trim();
    const pincode = document.getElementById('pincode').value.trim();


    if (!name || !phone || !building || !city || !district || !state || !pincode) {
       
       return;
   }

   if (isNaN(phone) || isNaN(pincode)) {
      
       return;
   }
   if (phone.length !== 10) {
      
       return;
   }


        const formData = {
            name: document.getElementById('name').value,
            phone: document.getElementById('phone').value,
            building: document.getElementById('building').value,
            city: document.getElementById('city').value,
            district: document.getElementById('district').value,
            state: document.getElementById('state').value,
            pincode: document.getElementById('pincode').value,
        };

        axios.post('/address', formData)
            .then(response => {
                
                console.log(response.data);
                window.location.reload()
            })
            .catch(error => {
                console.error('Error saving address:', error.response.data.error);
            });
    }




function applyCoupen(event) {
    event.preventDefault()
    const coupencode = document.getElementById("coupenCodeField").value
    const data = {
        coupencode:coupencode
    }
    axios.post("/apply-coupen",data)
    .then(response => {
        document.getElementById("discountPrice").innerText ="₹ "+response.data.subTotal
        document.getElementById("discountPrice").value =response.data.subTotal
        document.getElementById("discountPrice2").innerText ="₹ "+response.data.subTotal
        document.getElementById("discountPrice2").value =response.data.subTotal
        // document.getElementById("discountPrice2").value =response.data.subTotal
       if(response.data.alreadyused == true){
        document.getElementById("coupenWarning").innerText = "The Coupon Has Already Used"
       }
    })
    .catch(error => {
       console.error('Error saving address:', error.response.data.error);
    });
}




//================ copy coupen to clipboard ===================

function copyToClipboard(code) {
    navigator.clipboard.writeText(code).then(function() {
        console.log('Coupon code copied to clipboard');
    }).catch(function(error) {
        console.error('Error in copying text: ', error);
    });
}


  
 
</script>









    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
</body>


<!-- molla/checkout.html  22 Nov 2019 09:55:06 GMT -->
</html>