<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invoice</title>
  <style>
    @page {
      size: A4;
      margin: 0;
    }

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .container {
      width: 21cm;
      max-width: 90%;
      background-color: #fff;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      height: calc(100vh - 40px); /* 40px for padding */
      overflow-y: auto; /* Add scrollbar if content exceeds height */
    }

    header {
      text-align: center;
      margin-bottom: 20px;
    }

    header h1 {
      color: #333;
    }

    .invoice-details {
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    .total {
      margin-top: 20px;
      text-align: right;
    }

    .footer {
      margin-top: 20px;
      text-align: center;
      font-size: 0.8em;
      color: #666;
    }
  </style>
</head>
<body>
  <div class="container">
    <header>
      <h1>Invoice</h1>
    </header>

    <div class="invoice-details">
      <p><strong>Invoice Number:</strong><%=orderData?.order_id %></p>
      <p><strong>Date:</strong></p>
      <p><strong>Billed To:</strong>  <%=orderData?.userId?.name %></p>
      <p><strong>Email:</strong> <%=orderData?.userId?.email %></p>
      <p><strong>Address:</strong> <%=orderData?.userId?.address[0]?.building %>,<%=orderData?.userId?.address[0]?.city %>,<%=orderData?.userId?.address[0]?.district %>,<%=orderData?.userId?.address[0]?.state %>,<%=orderData?.userId?.address[0]?.pincode %></p>
    </div>

    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% orderData?.products?.forEach((product)=>{ %>
            <tr>
                <td><%=product?.name %></td>
                <td><%=product?.quantity %></td>
                <td>₹<%=product?.price %></td>
                <td>₹<%=product?.total %></td>
              </tr>
        <% }) %>
        
        <!-- You can add more rows for additional products -->
      </tbody>
    </table>

    <div class="total">
      <p><strong>Sub Total:</strong>₹<%=orderData?.subTotal %></p>
    </div>

    <div class="footer">
      <p>Thank you for your purchase!</p>
    </div>
  </div>
  
</body>
</html>
