<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <style>
        /* Add your custom styles here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
            padding-left: 60px; /* Add padding to body */
            padding-right: 60px;
        }

        .container-fluid {
            background-color: #fff;
            border: 1px solid #ddd;
            margin-bottom: 20px;
            border-radius: 5px;
            padding: 15px;
        }

        .product-image {
            max-width: 100px;
            max-height: 150px; 
            border-radius: 5px;
        }

        .product-details {
            padding-left: 15px;
        }

        .product-name {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .product-quantity {
            font-size: 16px;
            color: #777;
            margin-bottom: 5px;
        }

        .product-total {
            font-size: 18px;
            font-weight: bold;
            color: #e44d26;
        }

        .action-buttons {
            padding-top: 25px;
        }

        .action-buttons button {
            margin-right: 10px;
            padding: 8px 25px;
            font-size: 14px;
            cursor: pointer;
        }

        .related-products {
            margin-top: 20px;
        }

        .related-products h2 {
            color: #333; /* Heading color */
        }

        .related-products .product-row {
            background-color: rgb(237, 237, 237);
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 5px;
        }

        .related-products .product-row img {
            max-width: 80px;
            max-height: 120px;
            border-radius: 5px;
        }

        .related-products .product-details {
            padding-left: 15px;
        }

        .related-products .product-details h6 {
            font-size: 16px;
            margin-bottom: 5px;
        }

        .related-products .product-details h6.price {
            color: #e44d26;
            font-weight: bold;
        }

        .dummy-address {
            background-color: #ddd;
            padding: 15px;
            border-radius: 5px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <!-- Dummy address row -->
    <h4>OrderID:<%=order?.order_id %></h4>
    <div class="container-fluid dummy-address">
        <h4>Address:</h4>
        <p><%= address?.name %><br>
            <%= address?.phone %><br>
            <%= address?.building %><br>
            <%= address?.city %>,<%= address?.district %>,<%= address?.state %><br>
            <%= address?.pincode %><br>
        </p>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-4">
                        <img class="product-image" src="/uploads/<%= product?.productImage %>" alt="Product Image">
                    </div>
                    <div class="col-8 product-details">
                        <div class="product-name"><%=product?.name %></div>
                        <div class="product-quantity">Quantity:<%=product?.quantity %></div>
                        <div class="product-total">Total:<%=product?.total %></div>
                        <h4 id="message"></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-2 ">
            <% if (order?.paymentStatus =="Failed"){ %>
                <h6 style="color: red; margin-top: 33px;"> Payment Failed</h6>
                <% }else{ %>
                <p style="margin-top: 33px;">Status : <%=product?.orderStatus %></p>
                <% } %> 
            </div>
            <div class="col-md-2 action-buttons">
                <% if (order?.paymentStatus =="Failed"){ %>
                    <button class="btn btn-danger" id="retryPayment" onclick="retryPayment('<%= order?._id %>')">Retry Payment</button>
                <% }else{ %>

                <%if(product?.orderStatus =="Placed" || product?.orderStatus == "Shipped" || product?.orderStatus == "Packed") { %>
                <button class="btn btn-primary" id="cancelOrder" onclick="cancelOrder()">Cancel Order</button>
                <% }else if(product?.orderStatus == "Delivered"){ %>
                <button class="btn btn-danger" id="returnProduct" onclick="returnProduct()">Return Product</button>
                <% } %>
                <% } %> 
                <br>
                <form>
                    <label for="myTextArea" id="textAreaLabel" style="display: none;">Enter Cancelation Reason:</label>
                <textarea id="myTextArea" style="display: none;" name="cancel-reason" rows="4" cols="50" required ></textarea>
                <button class="btn btn-primary" id="requestCancelation" onclick="cancelProduct('<%=product?._id %>','<%=order?._id %>')" style="display: none;">request Cancelation</button>

                <label for="reasonForReturn" id="textAreaLabel2" style="display: none;">Enter Reason For Return:</label>
                <textarea id="reasonForReturn" style="display: none;" name="return-reason" rows="4" cols="50" required ></textarea>
                <button class="btn btn-primary" id="request-return" onclick="requestForReturn('<%=product?._id %>','<%=order?._id %>')" style="display: none;">request Return</button>
                </form>
                
            </div>
            <div class="col-md-2 ">
                <% if(product?.orderStatus == "Delivered"){ %>
                <button class="btn btn-primary"style="margin-top: 26px;" onclick="invoice('<%=order._id %>','<%=product._id %>')">invoice</button>
                <% } %>
            </div>
        </div>
    </div>

    <!-- List of related products -->
    <div class="container-fluid related-products">
        <h2>Other items in this order</h2>
        <% otherItems.forEach((items)=>{  %>
            <div class="row product-row">
                <div class="col-md-6">
                    <div class="product-row d-flex align-items-center">
                        <img class="product-image" src="/uploads/<%= items?.productImage %>" alt="Product Image">
                        <div class="product-details flex-grow-1">
                            <h6><%=items.name %></h6>
                            <h6 class="price"><%items?.price %></h6>
                        </div>
                        <a href="#" class="btn btn-info" onclick="viewDetails('<%=items?._id %>','<%=order?._id %>')">View details</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
        

<script>

 function viewDetails(productId,orderId){
    
    window.location.href = `/order-details?orderId=${orderId}&productId=${productId}`;
}

//--------------show cancelation request form ------------------

function cancelOrder(){
    document.getElementById("myTextArea").style.display = "block"
    document.getElementById("textAreaLabel").style.display = "block"
    document.getElementById("requestCancelation").style.display = "block"
    document.getElementById("cancelOrder").style.display = "none"
}
//-------------------show return request form

function returnProduct(){
    document.getElementById("reasonForReturn").style.display = "block"
    document.getElementById("textAreaLabel2").style.display = "block"
    document.getElementById("request-return").style.display = "block"
    document.getElementById("returnProduct").style.display = "none"
}

//------------------request cancelation -------------------------

function cancelProduct(productId,orderId){
    const reason = document.getElementById("myTextArea").value

    const data = {
        productId:productId,
        orderId:orderId,
        reason:reason
    }
    axios.post("/order-cancelation",data)
    .then(response =>{
        console.log(response.data);
        window.location.reload()
    })
    .catch(error=>{
        console.error(error);
    })
}

function requestForReturn(productId,orderId){
    const reason = document.getElementById("reasonForReturn").value

    const data = {
        productId:productId,
        orderId:orderId,
        reason:reason
    }
    axios.post("/request-return",data)
    .then(response =>{
        console.log(response.data);
        window.location.reload()
    })
    .catch(error=>{
        console.error(error);
    })
}

function invoice (orderId,productId){
    window.location.href = `/order-invoice?orderId=${orderId}&productId=${productId}`
}




//-----------------------

function razorpayPayment(order){
    
    var options = {
    "key": "rzp_test_EXuX7ue9wXyfnc", // Enter the Key ID generated from the Dashboard
    "amount": order.razorpayInstance.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "StepUp", //your business name
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.razorpayInstance.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
   
    "handler": function (response){
      verifyPayment(response,order)
},
    "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
        "name": "Gaurav Kumar", //your customer's name
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000" //Provide the customer's phone number for better conversion rates 
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};

var rzp1 = new Razorpay(options);

rzp1.on('payment.failed', function (response) {


faildPayment(response,order)
})
rzp1.open();

}



function verifyPayment(payment,order){
    data = {
        payment,
        order
    }
    axios.post("/verify-payment",data)
    .then(response =>{
        console.log(response.data);
        if(response.data.onlinePaymentsuccess){
            window.location.href = "/order";
        }else{
            alert("somethis went wrong")
        }
       
    })
    .then(error=>{
        console.error(error);
    })
}

function faildPayment(payment,order){
    const data = {
        payment,
        order,
    }

    axios.post("/failed-payment",data)
    .then(response =>{
        console.log(response.data);
        window.location.href = "/paymen-failed";
    })
    .then(error=>{
        console.error(error);
    })

}

function retryPayment(orderId) {
    axios.post("/retry-payment", { orderId })
        .then(response => {
            console.log(response.data);
            if (response.data.razorpayInstance) {
                razorpayPayment(response.data);
            } else {
                alert(response.data.message);
            }
        })
        .catch(error => {
            console.error('Error retrying payment:', error);
            alert("An error occurred while retrying payment. Please try again later.");
        });
}



</script>
 

    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
